
@model SalesWebApp.Models.Seller;


@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<div>
    <form asp-action="Create">
        <!--<label asp-for="id"></label>
    <input asp-for="id" />
        -->
        <label asp-for="name"></label>
        <input asp-for="name" />

        <label asp-for="email"></label>
        <input asp-for="email" />

        <label asp-for="birthDate"></label>
        <input asp-for="birthDate" />

        <label asp-for="baseSalary"></label>
        <input asp-for="baseSalary" />

        <!--
        <label asp-for="department"></label>
        <select asp-for="department"></select>
    -->

        <input type="submit" value="Salvar" />
    </form>

</div>
